.scout-footer {
  background-color: #643a90;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 60px 20px;
  position: relative;
  margin-top: 100px;
}

.footer-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.footer-logo-circle {
  background-color: #643a90;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-circle img {
  width: 90px;
  height: auto;
}

.footer-right .footer-mascot {
  height: 120px;
}

.footer-left p {
  margin: 0;
}

.footer-bottom {
  background-color: #643a90;
  text-align: center;
  color: white;
  font-size: 14px;
  padding-bottom: 10px;
}
